---
layout: default
---
{% assign mois_fr = "janv.|févr.|mars|avr.|mai|juin|juil.|août|sept.|oct.|nov.|déc." | split: "|" %}

<div class="home">
  <p>{{ site.description }}</p>

  {% assign next_events = site.posts | where_exp:"event", "event.date  >= site.time" %}
  {% assign previous_events = site.posts | where_exp:"event", "event.date < site.time" %}

  <h1 class="page-heading">Prochaines dates</h1>

  <ul class="post-list">
    {% for post in next_events %}
      {% assign mois_index = post.date | date: "%-m" | minus: 1 %}
      <li>
        <span class="">{{ post.date | date: "%-d" }} {{ mois_fr[mois_index] }} {{ post.date | date: "%Y" }} à {{ post.city }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Dates passées</h1>
  <ul class="post-list">
    {% for post in previous_events %}
      {% assign mois_index = post.date | date: "%-m" | minus: 1 %}
      <li>
        <span class="">{{ post.date | date: "%-d" }} {{ mois_fr[mois_index] }} {{ post.date | date: "%Y" }} à {{ post.city }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
