---
layout: default
---

<div class="home">
  <p>{{ site.description }}</p>

  {% assign next_events = site.posts | where_exp:"event", "event.date  >= site.time" %}
  {% assign previous_events = site.posts | where_exp:"event", "event.date < site.time" %}

  <h1 class="page-heading">Prochaines dates</h1>

  <ul class="post-list">
    {% for post in next_events %}
      <li>
        <span class="">{{ post.date | date: "%-d %b %Y" }} à {{ post.city }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Dates passées</h1>
  <ul class="post-list">
    {% for post in previous_events %}
      <li>
        <span class="">{{ post.date | date: "%-d %b %Y" }} à {{ post.city }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
